@{
    Layout = "../Shared/Master.cshtml";
}
<div id="captchaPage">
    <div id="Success">
        <p>An email has been sent to you with instructions on how to reset your password.</p>
    </div>
</div>


