@model FoundOps.Core.Models.Authentication.ForgotPasswordModel
@{
    Layout = "../Shared/Master.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        //hide the main login
        document.getElementById('mainLoginContent').style.display = "none";
    });
</script>
<div id="resetPage">
    <script type="text/javascript">
        var RecaptchaOptions = { theme: 'blackglass' };
    </script>
    @using (Html.BeginForm("ForgotPassword", "Account"))
    { 
        <fieldset id="captchaFieldset">
            <legend>Reset Password</legend>
            @Html.LabelFor(m => m.EmailAddress)<br />
            @Html.TextBoxFor(m => m.EmailAddress)<br /><br />
            <div id="passRecaptcha">
                <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=<6LeMMMYSAAAAAIs3hdYldIQG7fNMc0-7yDPpL5df>"></script>
                <noscript>
                    <iframe src="http://api.recaptcha.net/noscript?k=<6LeMMMYSAAAAAIs3hdYldIQG7fNMc0-7yDPpL5df>"></iframe><br />
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40"/>
                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
                </noscript>
            </div><br />
            <input id="loginPageBtn" type="submit" value="Reset" />
        </fieldset>
        <div class="ValSummary">@Html.ValidationSummary(true, "The email address or Recaptcha is incorrect.")</div>
        } 
</div>


