@using FoundOps.Core.Models
@{
    Layout = "../Shared/Master.cshtml";
}
<div id="captchaPage">
    <div id="Success">
        <p>Your password has been successfully reset. You will be redirected to the application in 5 seconds.</p>
        <a href="@ServerConstants.RootApplicationUrl">Go there now</a>
    </div>
</div>
@*Redirect to the homepage after 5 seconds*@
<script type="text/javascript">
    window.setTimeout(function() {
        window.location.href = '@ServerConstants.RootApplicationUrl';
    }, 5000);
</script>