
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.orig
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/

*.lib
*.sbr
*.g.cs
obj/
[Rr]elease*/
_ReSharper*/
Generated_Code/
[Tt]est[Rr]esult*
Source/Server/FoundOps.Server/ClientBin/*.zip
Source/Server/FoundOps.Server/ClientBin/*.xap
Developer.config
Source/Server/FoundOps.Server/Resources/Developer.config