#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.orig
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/

#Resharper
_ReSharper*/
[Tt]est[Rr]esult*
*.ReSharper.*

#RIA Services
Generated_Code/
*.g.cs

#FoundOPS Specific
Source/Server/FoundOps.Server/ClientBin/*.zip
Source/Server/FoundOps.Server/ClientBin/*.xap
Developer.config
Source/Server/FoundOps.Server/Resources/Developer.config
