<?xml version="1.0"?>
<!--Developer Specific Settings-->
<!--Note: If using with ASP .NET Development Server (Debugging w VS), after you change this you must stop the asp dev server-->
<appSettings>
  <!--Testing Users-->
  <add key="AutomaticLoginDavid" value="false"/>
  <add key="AutomaticLoginJonathan" value="false"/>
  <add key="TestServer" value="false"/>

  <add key="RootDirectory" value="C:\FoundOps\GitHub\Source\Server"/>
</appSettings>