@model string
            
@using System.Configuration

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ipp="">
    <head id="Head2" runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>My Connect Page</title>
        <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
        <script>intuit.ipp.anywhere.setup({
            grantUrl: '@Model'
        });</script>
    </head>
<body>
    <ipp:connectToIntuit> </ipp:connectToIntuit> 
</body>
</html>