<!doctype html>

<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>
<html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>FoundOPS Navigator</title>

    <!-- From H5BP:M -->
    <meta name="description" content="">
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!-- Enabling user-scalable=no or calling $("#nav").toggleClass("androidFixedPositionFix"); fixes fixed position bug in android 2.3 -->
    <meta name="viewport"
          content="width=100%; initial-scale=1; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no"/>
    <!-- Home screen icon  Mathias Bynens mathiasbynens.be/notes/touch-icons -->
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
    <!-- For nokia devices: -->
    <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
    <!-- iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
    <!-- <script>(function(){var a;if(navigator.platform==="iPad"){a=window.orientation!==90||window.orientation===-90?"img/startup-tablet-landscape.png":"img/startup-tablet-portrait.png"}else{a=window.devicePixelRatio===2?"img/startup-retina.png":"img/startup.png"}document.write('<link rel="apple-touch-startup-image" href="'+a+'"/>')})()</script> -->

    <!-- The script prevents links from opening in mobile safari. https://gist.github.com/1042026 -->
    <!-- <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> -->

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">

    <!-- more tags for your 'head' to consider h5bp.com/d/head-Tips -->

    <!-- Main Stylesheet -->
    <!--link rel="stylesheet" href="css/style.css"-->

    <link rel="shortcut icon" href="./favicon_32.ico"/>
    <!--If debug-->
    <link rel="stylesheet" type="text/css" href="styles/navigator.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery.jscrollpane.css" media="all"/>

    <script type="text/javascript">
        //If release
        window.initializeConfig = @Html.Raw(@Model);
        //If debugging
        //window.initializeConfig = {
        //    name: "Jordan Kelly",
        //    avatarUrl: "./img/david.png",
        //    businessLogoUrl: "./img/got-grease-logo.png",
        //    roles: [
        //        { name: "FoundOPS", id: "23144-24242-242442" },
        //        { name: "GotGrease", id: "95838-24242-242442" },
        //        { name: "AB Couriers", id: "64729-24242-242442" }
        //    ],
        //    sections: [
        //        { name: "Employees", url: "#Employees", color: "red", iconUrl: "img/employees.png" },
        //        { name: "Routes", url: "#Routes", color: "green", iconUrl: "./img/routes.png" },
        //        { name: "Regions", url: "#Regions", color: "orange", iconUrl: "./img/regions.png" },
        //        { name: "Vehicles", url: "#Vehicles", color: "red", iconUrl: "./img/vehicles.png" }/*,
        //         {name:"Logout", url:"#logout", color:"black", iconUrl:"./img/logout.png"}*/
        //    ]
        //};
    </script>
</head>

<body ontouchstart="">
<div id="contentWrapper">
    <div id="content"></div>
</div>

<!-- if debug -->

<script data-main="js/main.js" src="lib/require-jquery.js"></script>

<!-- JavaScript at the bottom for fast page loading -->
<!--script>window.jQuery || document.write('<script src="lib/jquery.min.js"><\/script>')</script-->

<!-- Debugger - remove for production -->
<!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
mathiasbynens.be/notes/async-analytics-snippet -->
<!--script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
</script-->
</body>

<script id="navTemplate" type="text/x-kendo-template">
    <div id='navContainer'>
        <div id='navSearch' class='navElement'><input name='search' type='text' placeholder='Search...'/><a
                href='\#'><img class='navIcon' src='img/search.png'/></a></div>
        <div id='navClient' class='navElement popup last'><a href='\#'><img class='navIcon profile' src='#= data[0] #'/><img
                id='clientLogo' src='#= data[1] #'/></a></div>
    </div>
    <img id='logo' src='./img/Logo.png' alt='FoundOPS'/>
</script>

<script id="expandTemplate" type="text/x-kendo-template">
    <a id="expandMenuButton" href='\#'>
        <div id='slideMenu'><img class='iconExpand' src='img/Expand.png'/></div>
    </a>
</script>

<script id="showMenuTemplate" type="text/x-kendo-template">
    <div id="showMenu">
        <a href='\#'><img class='iconShow rotateIcon' src='img/Expand.png'/></a>
    </div>
</script>

<script id="sideBarElementTemplate" type="text/x-kendo-template">
    <a href="#= href #">
        <div class='sideBarElement' color='#= color #'>
            <span class='icon' style="background: url('#= iconUrl #') #= bgX # #= bgY # no-repeat"></span>
            <span>#= name #</span>
        </div>
    </a>
</script>
</html>