@using FoundOps.Server
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MapView</title>
    <link rel="stylesheet" href="../../Content/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../../Content/leaflet.ie.css"/>
    <![endif]-->
    <!--[if IE]>
        <link rel="stylesheet" href="../../Content/mapIE.css"/>
    <![endif]-->
    @{
        var mapSource = "";
        switch (Global.Mode)
        {
            case "DEBUG":
                mapSource = "../../Scripts/mapdebug";
                break;
            case "RELEASE":
                mapSource = "../../Scripts/map";
                break;
        }
    }
    <script type="text/javascript" data-main="@mapSource" src="../../Scripts/require-jquery.js"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>
