<!doctype html>

<head>
    <meta charset="utf-8">
    <title>FoundOPS</title>
    <style type="text/css">
       html, body
        {
            height: 100%;
            overflow: hidden;
        }
        body
        {
            padding: 0;
            margin: 0;
        }
        #silverlightControlHost
        {
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        function httpGet(url) {
        }
        function trackEvent(section, action, label) {
        }

        window.navigatorConfig = {
            name: "Jordan Kelly",
            avatarUrl: "./img/david.png",
            businessLogoUrl: "./img/got-grease-logo.png",
            roles: [
                { name: "FoundOPS", id: "23144-24242-242442" },
                { name: "GotGrease", id: "95838-24242-242442" },
                { name: "AB Couriers", id: "64729-24242-242442" }
            ],
            sections: [
                { name: "Employees", url: "#Employees", color: "red", iconUrl: "img/employees.png" },
                { name: "Routes", url: "#Routes", color: "green", iconUrl: "./img/routes.png" },
                { name: "Regions", url: "#Regions", color: "orange", iconUrl: "./img/regions.png" },
                { name: "Vehicles", url: "#Vehicles", color: "red", iconUrl: "./img/vehicles.png" }/*,
                 {name:"Logout", url:"#logout", color:"black", iconUrl:"./img/logout.png"}*/
            ]
        };
    </script>
</head>
<body>
    <div id="silverlightControlHost">
        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2"
            width="100%" height="100%">
            <param name="onSourceDownloadProgressChanged" value="onSourceDownloadProgressChanged" />
            <!--if debugging outside of VS-->
            <!--<param name="splashscreensource" value="http://localhost:31820/ClientBin/SplashScreen.xaml" />-->
            <!--<param name="source" value="http://localhost:31820/ClientBin/FoundOps.SLClient.Navigator.xap"/>-->

            <!--if in VS-->
            @{
                var xapSource = "";
                var splashSource = "";
                switch (FoundOps.Server.Global.Mode)
                {
                    case "DEBUG":
                        xapSource = Url.Content("/ClientBin/FoundOps.SLClient.Navigator.xap");
                        splashSource = Url.Content("/ClientBin/SplashScreen.xaml");
                        break;
                    case "TESTRELEASE":
                        xapSource = Url.Content("http://opsapptest.blob.core.windows.net/xaps/FoundOps.SLClient.Navigator.xap");
                        splashSource = Url.Content("http://opsapptest.blob.core.windows.net/xaps/SplashScreen.xaml");
                        break;
                }

                //Setup version
                var sourceParam = xapSource + "?ignore=" + Model["SilverlightVersion"];
            }
            <param name="splashscreensource" value="@splashSource" />
            <param name="source" value="@sourceParam"/>

            <param name="onError" value="onSilverlightError" />
            <param name="background" value="#ff333335" />
            <param name="windowless" value="true" />
            <param name="minRuntimeVersion" value="5.0.61118.0" />
            <param name="enableHtmlAccess" value="true" />
            <param name="autoUpgrade" value="true" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight"
                    style="border-style: none" />
            </a>
        </object>
        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px;
            border: 0px"></iframe>
    </div>
</body>
</html>
