/* FoundOps Colors
   Orange - #D9591E
   Red - #991A36
   Blue - #488FCD
   Green - #659A41*/
html{
    height: 100%;
    background-color: #ededed;
    background-image: url('../Content/bgGradient.png');
    background-repeat: repeat-x;
    overflow-y: scroll;
    margin-top:0px;
}
body{
    height:100%;
    font-size: .75em;
    font-family:"Century Gothic";
    margin: 0px;
    padding: 0px;
    color: #666666;
}
#container{
    min-height: 99%;
    margin-bottom: -181px;
    position: relative;
}
.clearfooter{
    height: 181px;
    clear: both;
}
#footer{
    position: relative;
    height:180px;
    font-size: .9em;
    margin: 0 auto;
    color: #666;
    text-align: center;
    background-color: #ccc;
    background-image: url('../Content/footerBg.png');
    background-repeat: repeat-x;
}
a:link, a:visited{
    color: #ccc;
    text-decoration: none;
}
a:focus, a:hover, a:active{
    color: #fff;
    outline: none;
}
p, ul{
    margin-bottom: 20px;
    line-height: 1.6em;
    text-align: justify;
}
.hide{
    display: none;
}
/* HEADINGS ----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
    font-size: 1.5em;
    color: #000;
    font-family:"Century Gothic";
}
h1{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2{
    padding: 0 0 0px 0;
    margin-bottom: 0;
}
h3{
    font-size: 1.2em;
}

/* PRIMARY LAYOUT ELEMENTS --------------------------------------------*/
#header{
    position: relative;
    top: -3px;
    left: 10px;
    margin: 0 auto;
    margin-bottom: -100px;
    padding: 0px;
    width: 1130px;
}
#mainLoginContent{
    position: relative;
    top: -42px;
    left: 620px;
    width: 500px;
}
#loginPage, #captchaPage, #resetPage{
    position: relative;
    top: -80px;
    padding: 30px 30px 15px 30px;
    width: 540px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 120px;
    background-color: #ffffff;
}
#main{
    position: relative;
    top: 180px;
    width: 1130px;
    color: #000;
    margin: 0 auto;
}
#SiteLogo{
    height: 60px;
    width: 137px;
    border-width: 0px;
    margin-bottom: -20px;
    margin-top: 15px;
}
#bgLogo{
    position: absolute;
    top: 200px;
    right: 0px;
}
/* NAV ------------------------------------------------*/
.tabs li{
    position: relative;
    top: -11px;
    left: -40px;
    width: 170px;
    font-size: 14px;
    list-style: none;
    border-top: 1px solid White;
    margin-bottom: 3px;
}
.tabs li a{
    position: relative;
    left: 20px;
}
ul.tabs li a:hover, ul.tabs li a:active, ul.tabs li a:focus{
    color: #ccc;
}
ul.tabs a:link, ul.tabs a:visited{
    color: #fff;
}
ul.tabs.homeTab{
    position: relative;
    top: 1px;
    border-top: none;
    height: 23px;
}

/* Main LOGIN ------------------------------------------------*/
#email{
    position: relative;
    left: 39px;
    top: 2px;
    font-size: 12px;
    color: #ccc;
}
#password, #rememberMe, #forgotPass{
    position: relative;
    left: 219px;
    top: -38px;
    width: 200px;
    font-size: 12px;
    color: #ccc;
}
#password{
    left: 218px;   
}
#rememberMe{
    top: -35px;
    left: 36px;
}
#rememberMe label{
    position: relative;
    top: -2px;
}
#forgotPass{
    top: -53px;
}
.ValSummary{
    margin-left: 100px;
}
#loginBtn{
    position: relative;
    top: -96px;
    left: 400px;
    height: 21px;
    width: 65px;
    color: #eee;
    font-weight: bold;
    background-color: #333335;
    border-width: 1px;
    border-color: #fff;
    font-size: 12px;
}
.LogonValSummary{
    position: absolute;
    top: 65px;
    left: 40px;
    width: 449px;
    height: 30px;
    font-size: 11px;
    z-index: 1000;
}
.LogonValSummary li{
    color: #ccc;
    margin-left: -40px;
    list-style: none;
    background-color: #333335;
    border: 2px solid #ccc;
}
input[type="text"], input[type="password"]{
    width: 160px;
    height: 17px;
    border: 1px solid #CCC;
    margin-top: 2px;
}
/* LOGIN Page --------------------------------------*/
#loginFieldset{
    position: relative;
    left: 100px;
    top: 0px;
    width: 280px;
    border: 1px solid #333335;
    color: #333335;
    text-align: left;
}
#loginFieldset legend{
    font-size: 18px;
}
#loginFieldset input[type="text"], #loginFieldset input[type="password"]{
    border-color: #333335;
}
#loginPageBtn{
    height: 23px;
    width: 65px;
    color: #eee;
    font-weight: bold;
    background-color: #333335;
    border-width: 2px;
    border-radius: 3px;
    border-color: #ccc;
    font-size: 12px;
}
#forgotLoginPass{
    position: relative;
    top: -15px;
    left: 140px;
}
#forgotLoginPass a:link, #forgotLoginPass a:visited{
    color: #666666;
    text-decoration: none;
}
#forgotLoginPass a:focus, #forgotLoginPass a:hover, a:active{
    color: #333335;
    outline: none;
}
.LogonPageValSummary{
    position: relative;
    top: 0px;
    left: 100px;
    width: 300px;
    font-size: 11px;
}
.LogonPageValSummary li{
    list-style: none;
    margin-left: -40px;
    text-align: left;
}

/* TAB MENU -----------------------------------------*/
ul#menu{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}
ul#menu li{
    display: inline;
    list-style: none;
}
ul#menu li#greeting{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}
ul#menu li a{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}
ul#menu li a:hover{
    background-color: #fff;
    text-decoration: none;
}
ul#menu li a:active{
    background-color: #a6e2a6;
    text-decoration: none;
}
ul#menu li.selected a{
    background-color: #fff;
    color: #000;
}
li.NoBullet, ul.NoBullet{
    list-style-type: none;
    list-style: none;
}

/* FORM LAYOUT ELEMENTS --------------------------------*/
fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}
#PassChangeFieldSet{
    width: 340px;
    color: #000;
}
fieldset p{
    margin: -10px 0px 0px 0px;
}
#resetFieldset input{
    margin-left: 0px;
}
#passRecaptcha, #Recaptcha{
    position: relative;
    left: 0px;
    top: 0px;
}
#Recaptcha{
    margin-bottom: 20px;
}
#captchaFieldset{
    position: relative;
    left: 100px;
    top: 0px;
    width: 320px;
    border: 1px solid #333335;
    color: #333335;
}
#captchaFieldset li{
    list-style: none;
    position: relative;
    left: -40px;
    margin-bottom: -15px;
    text-align: left;
}
#captchaFieldset legend{
    font-size: 18px;
}
#captchaFieldset input[type="text"], #captchaFieldset input[type="password"]{
    border-color: #333335;
}
#Success a:link, #Success a:visited{
    color: #666666;
    text-decoration: none;
}
#Success a:hover, a:active, #Success, #Success a:focus{
    color: #333335;
}
#Success a:focus{
    outline: none;
}

/* TABLE-----------------------------------------*/
table{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}
table td{
    padding: 5px;
    border: solid 1px #e8eef4;
}
table th{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  -------------------------------------------*/
/* Top -------------*/
.clear{
    clear: both;
}
.error{
    color: Red;
}
#menucontainer{
    margin-top: 40px;
}
div#title{
    display: block;
    float: left;
    text-align: left;
}
#frontPageEmail{
    width: 180px;
}
#changePass{
    margin-left: -11px;
    margin-top: 10px;
}
#footerList{
    text-align: center;
    background-image: url('../Content/footerBg.png');
    background-repeat: repeat-x;
    color: #ccc;
    height: 30px;
}
#footerList li{
    display: inline;
    list-style: none;
    margin-right: 5px;
    font-size: 15px;
    position: relative;
    top: 4px;
    left: -20px;
}
.footerIcon{
    position: relative;
    top: 3px;
}
.bigFooterText{
    font-size: 13px;
    font-weight: bold;
}
#bottomTable{
    position: relative;
    left: -20px;
    margin: 0 auto;
    text-align: center;
    width: 515px;
    margin-bottom: 20px;
    line-height: 7px;
}
#bottomTable, #bottomTable tr, #bottomTable td, #bottomTable li, #navLogo{
    border: none;
}
#bottomTable tr{
    width: 155px;
}
#navLogo{
    margin-right: -17px;
}
#bottomTable a:hover, #bottomTable a:active, #bottomTable a:focus{
    color: #666666;
}
#bottomTable a:link, #bottomTable a:visited{
    color: #333335;
}
#changePasswordContent{
    margin-top: -20px;
    margin-left: 400px;
}
.container{
    height: 450px;
    width: 1000px;
    color: #fff;
    overflow: hidden; /*--Hides anything outside of the set width/height--*/
    position: relative;
    border: 2px solid #333335;
}
/* Styles for validation helpers ----------------------------------*/
.field-validation-error{
    color: #ff0000;
}
.field-validation-valid, .validation-summary-valid{
    display: none;
}
.input-validation-error{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors{
    font-weight: bold;
    color: #ff0000;
}