.wt-rotator{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    background-color:#f1f2f2;
    border:1px solid #000;
    position:relative;
    width:1000px;
    height:450px;
    overflow:hidden;
}
.wt-rotator a{
    outline:none;
}
.wt-rotator .screen{
    position:relative;
    top:0;
    left:0;
    width:1000px;
    height:450px;
    overflow:hidden;
}
.wt-rotator #strip{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    overflow:hidden;
}
.wt-rotator .content-box{
    display:none;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
.wt-rotator .main-img{
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    border:0;
}
.wt-rotator .preloader{
    position:absolute;
    top:50%;
    left:50%;
    width:36px;
    height:36px;
    margin-top:-18px;
    margin-left:-18px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    z-index:4;
    display:none;
}
.wt-rotator #timer{
    position:absolute;
    left:0;
    height:4px;
    background-color:#FFF;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    opacity:0.5;
    z-index:4;
    visibility:hidden;
    font-size:0;
    display:none;
}
.wt-rotator .desc{
    color:#000;
    position:absolute;
    color:#FFF;
    z-index:6;
    overflow:hidden;
    visibility:hidden;
    text-align:left;
}
.wt-rotator .inner-bg{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:none;
    -moz-opacity:.7;
    filter:alpha(opacity=70);
    opacity:.7;
    z-index:0;
}
.wt-rotator .inner-text{
    position:absolute;
    top:0;
    left:0;
    padding:10px;
    width:auto;
    height:auto;
    z-index:1;
}
.wt-rotator .c-panel{
    position:absolute;
    top:0;
    z-index:7;
    visibility:hidden;
}
.wt-rotator .outer-hp,
.wt-rotator .outer-vp{
    position:absolute;
    background:#333;
    background:-moz-linear-gradient(#444, #111);
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#444), to(#111));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111',GradientType=0);
    border:1px solid #000;
}
.wt-rotator .outer-hp{
    left:0;
    width:100%;
    border-left:none;
    border-right:none;
}
.wt-rotator .outer-vp{
    top:0;
    height:100%;
    border-top:none;
    border-bottom:none;
}
.wt-rotator .back-scroll,
.wt-rotator .fwd-scroll{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    background:url(assets/spacer.png) no-repeat;
}
.wt-rotator .thumbnails,
.wt-rotator .buttons{
    display:inline;
    position:relative;
    float:left;
    overflow:hidden;
}
.wt-rotator .thumbnails ul{
    position:relative;
    list-style:none;
    margin:0;
    padding:0;
}
.wt-rotator .thumbnails ul.inside{
    position:absolute;
    top:0;
    left:0;
}
.wt-rotator .thumbnails li,
.wt-rotator .play-btn,
.wt-rotator .prev-btn,
.wt-rotator .next-btn{
    position:relative;
    list-style:none;
    display:inline;
    float:left;
    overflow:hidden;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    color:#EEE;
    background-color:#000;
    background:-moz-linear-gradient(#333, #000);
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
    border:1px solid #000;
    cursor:pointer;
    font-weight:bold;
    background-repeat:no-repeat !important;
    background-position:center !important;
}
.wt-rotator .thumbnails li.thumb-over{
    color:#FFF;
    background-color:#CCC;
    background:-moz-linear-gradient(#DDD, #BBB);
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .thumbnails li.curr-thumb{
    color:#000;
    background-color:#FFF;
    background:-moz-linear-gradient(#FFF, #DDD);
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#FFF), to(#DDD));
    cursor:default;
}
.wt-rotator .thumbnails li.image{
    background:#000;
}
.wt-rotator .thumbnails li.image.curr-thumb,
.wt-rotator .thumbnails li.image.thumb-over{
    border-color:#06F;
}
.wt-rotator .thumbnails li.image a{
    display:block;
    border:0;
}
.wt-rotator .thumbnails li.image img{
    display:block;
    border:0;
    position:absolute;
    -moz-opacity:.85;
    filter:alpha(opacity=85);
    opacity:0.85;
}
.wt-rotator .thumbnails li.image.thumb-over img{
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
}
.wt-rotator .thumbnails li.image.curr-thumb img{
    -moz-opacity:1;
    filter:alpha(opacity=100);
    opacity:1;
    cursor:default;
}
.wt-rotator .thumbnails li *{
    display:none;
}
.wt-rotator .thumbnails li div{
    position:relative;
    color:#FFF;
    background-color:#000;
    width:auto;
    height:auto;
}
.wt-rotator .button-over{
background-color:#CCC !important;
}
.wt-rotator .play-btn{
background:#000 url(assets/play.png);
background:url(assets/play.png), -moz-linear-gradient(#333, #000);
background:url(assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .play-btn.button-over{
background:url(assets/play.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .pause{
background:#000 url(assets/pause.png);
background:url(assets/pause.png), -moz-linear-gradient(#333, #000);
background:url(assets/pause.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .pause.button-over{
background:url(assets/pause.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/pause.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .prev-btn{
background:#000 url(assets/prev.png);
background:url(assets/prev.png), -moz-linear-gradient(#333, #000);
background:url(assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .prev-btn.button-over{
background:url(assets/prev.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .next-btn{
background:#000 url(assets/next.png);
background:url(assets/next.png), -moz-linear-gradient(#333, #000);
background:url(assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .next-btn.button-over{
background:url(assets/next.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .up{
background:#000 url(assets/up.png);
background:url(assets/up.png), -moz-linear-gradient(#333, #000);
background:url(assets/up.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .up.button-over{
background:url(assets/up.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/up.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
.wt-rotator .down{
background:#000 url(assets/down.png);
background:url(assets/down.png), -moz-linear-gradient(#333, #000);
background:url(assets/down.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.wt-rotator .down.button-over{
background:url(assets/down.png), -moz-linear-gradient(#DDD, #BBB);
background:url(assets/down.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#DDD), to(#BBB));
}
#rotator-tooltip{
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
}
#rotator-tooltip.txt-up{
margin-left:-10px;
margin-bottom:5px;
background-position:10px bottom;
background-position-x:10px;
background-position-y:bottom;
display:none;
}
#rotator-tooltip.txt-down{
margin-left:-10px;
margin-top:24px;
background:url(assets/vtip.png) no-repeat;
background-position:10px top;
background-position-x:10px;
background-position-y:top;
display:none;
}
#rotator-tooltip.img-up{
background:url(assets/vtip.png) center bottom no-repeat;
display:none;
}
#rotator-tooltip.img-down{
background:url(assets/vtip.png) center top no-repeat;
display:none;
}
#rotator-tooltip.img-right{
background:url(assets/htip.png) left center no-repeat;
display:none;
}
#rotator-tooltip.img-left{
background:url(assets/htip.png) right center no-repeat;
display:none;
}
#rotator-tooltip .tt-txt{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background-color:#000;
max-width:300px;
padding:4px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
margin:8px 0;
display:none;
}
#rotator-tooltip img{
display:none;
background-color:#000;
padding:3px;
margin:8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
display:none;
}
.wt-rotator .s-prev,
.wt-rotator .s-next{
position:absolute;
top:50%;
margin-top:-25px;
width:30px;
height:50px;
cursor:pointer;
background:url(assets/large_buttons.png) no-repeat;
-moz-opacity:.7;
filter:alpha(opacity=70);
opacity:.7;
z-index:8;
}
.wt-rotator .s-prev{
left:0;
background-position:0 0;
}
.wt-rotator .s-next{
left:100%;
margin-left:-30px;
background-position:-30px 0;
}
.wt-rotator .s-prev.button-over,
.wt-rotator .s-next.button-over{
-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;
background-color:transparent !important;
}
.wt-rotator .block,
.wt-rotator .vpiece,
.wt-rotator .hpiece{
position:absolute;
z-index:2;
}