<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--Uncomment if you want to debug with LiveCore-->
    <!--<add name="CoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LocalCore;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreEntitiesContainer"
      connectionString="metadata=res://*/Models.CoreEntities.CoreEntities.csdl|res://*/Models.CoreEntities.CoreEntities.ssdl|res://*/Models.CoreEntities.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=LocalCore;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms xdt:Transform="RemoveAttributes(domain)" />
    </authentication>
  </system.web>
</configuration>