<div data-init="changePassword.initialize" data-role="view" data-title="Change Password" id="pass">
    <div class="settingsMenu"></div>
    <h1>Change Your Password</h1>
    <div class="wrap">
        <h2><a href="http://www.microsoft.com/security/online-privacy/passwords-create.aspx">Choose a Secure Password</a></h2>
        <form id="passForm">
            <table>
                <tr>
                    <td><label for="old">Old Password:&nbsp;</label></td>
                    <td><input type="password" id="old" name="old" required/></td>
                </tr>
                <tr>
                    <td><label for="new">New Password:&nbsp;</label></td>
                    <td><input type="password" id="new" name="new" required/></td>
                </tr>
                <tr>
                    <td><label for="confirm">Confirm Password:&nbsp;</label></td>
                    <td><input type="password" id="confirm" name="confirm" required/></td>
                </tr>
            </table>
        </form>
        <br />
        <button onclick="window.changePassword.save()">Save</button>
        <button onclick="window.navigateToPersonal()">Cancel</button>
    </div>
</div>