<div id="routeDestinations" data-role="view" data-layout="mobile-view" data-model="mobile.viewModel"
     data-title="Destinations" data-transition="slide">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <a id="startButton" class="nav-button" data-align="right"
               data-bind="click: startRoute, visible: startVisible" data-role="button">Start Route</a>
            <a id="endButton" class="nav-button" data-align="right"
               data-bind="click: endRoute, visible: endVisible" data-role="button">End Route</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul id="routeDestinations-listview" data-bind="source:routeDestinationsSource, click: selectRouteDestination" data-role="listview"
        data-style="inset" data-template="routeDestinationsViewTemplate"></ul>
</div>
<script type="text/x-kendo-template" id="routeDestinationsViewTemplate">
    <a>${Client.Name}</a>
    <br/><p id="address-label">${Location.AddressLineOne}</p>
</script>