<div data-init="usersSettings.initialize" data-role="view" data-title="Users Settings" id="users">
    <div class="settingsMenu"></div>
    <h1>Manage Your Users</h1>
    <div class="wrap">
        <h2>New User</h2>
        <div id="addNew"></div>
        <a id="addUser">Add New User</a>
        <h2>Current Users</h2>
        <div id="usersGrid"></div>
    </div>
</div>
<script type="text/x-kendo-template" id="createTemplate">
    <div class="k-edit-form-container">
        <div class="k-edit-label">
            <label for="FirstName">First Name</label>
        </div>
        <div data-container-for="FirstName" class="k-edit-field">
            <input type="text" id="FirstName" name="FirstName" required="required" data-type="text" data-bind="value:FirstName"
                   data-role="textbox" onchange="usersSettings.matchEmployee('FirstName', 'LastName', 'Employee')"/>
        </div>
        <div class="k-edit-label">
            <label for="LastName">Last Name</label>
        </div>
        <div data-container-for="LastName" class="k-edit-field">
            <input type="text" id="LastName" name="LastName" required="required" data-type="text" data-bind="value:LastName"
                   data-role="textbox" onchange="usersSettings.matchEmployee('FirstName', 'LastName', 'Employee')"/>
        </div>
        <div class="k-edit-label">
            <label for="EmailAddress">Email</label>
        </div>
        <div data-container-for="EmailAddress" class="k-edit-field">
            <input type="email" id="EmailAddress" name="EmailAddress" required data-type="text" data-bind="value:EmailAddress">
        </div>
        <div class="k-edit-label">
            <label for="Role">Role</label>
        </div>
        <div data-container-for="Role" class="k-edit-field">
            <select id="Role" name="Role" data-type="text" required data-bind="value:Role" onchange="usersSettings.setDefaultValue('Role', 'Employee')">
                <option>Administrator</option>
                <option>Regular</option>
                <option>Mobile</option>
            </select>
        </div>
        <div class="k-edit-label">
            <label for="Employee">Linked Employee</label>
        </div>
        <div data-container-for="Employee" class="k-edit-field">
            <input id="Employee" name="Employee" data-bind="value:Employee" data-value-field="DisplayName"
                   data-text-field="DisplayName" data-source="usersSettings.employees" data-role="dropdownlist" />
        </div>
        <br /><br />
        <a class="k-button k-button-icontext" id="btnAdd">
            <span class="k-icon k-update"></span>
            Update
        </a>
        <a class="k-button k-button-icontext" id="btnCancel">
            <span class="k-icon k-cancel"></span>
            Cancel
        </a>
    </div>
</script>
<script type="text/x-kendo-template" id="editTemplate">
    <div class="k-edit-form-container">
        <div class="k-edit-label">
            <label for="First">First Name</label>
        </div>
        <div data-container-for="FirstName" class="k-edit-field">
            <input type="text" id="First" name="First" required data-type="text" data-bind="value:FirstName" data-role="textbox" onchange="usersSettings.matchEmployee('First', 'Last', 'linkedEmployee')"/>
        </div>
        <div class="k-edit-label">
            <label for="Last">Last Name</label>
        </div>
        <div data-container-for="LastName" class="k-edit-field">
            <input type="text" id="Last" name="Last" required data-type="text" data-bind="value:LastName" data-role="textbox" onchange="usersSettings.matchEmployee('First', 'Last', 'linkedEmployee')"/>
        </div>
        <div class="k-edit-label">
            <label for="Email">Email</label>
        </div>
        <div data-container-for="EmailAddress" class="k-edit-field">
            <input type="email" id="Email" name="Email" data-type="text" data-bind="value:EmailAddress">
        </div>
        <div class="k-edit-label">
            <label for="RoleEdit">Role</label>
        </div>
        <div data-container-for="Role" class="k-edit-field">
            <select id="RoleEdit" name="RoleEdit" data-type="text" data-bind="value:Role" onchange="usersSettings.setDefaultValue('RoleEdit', 'linkedEmployee')">
                <option>Administrator</option>
                <option>Regular</option>
                <option>Mobile</option>
            </select>
        </div>
        <div class="k-edit-label">
            <label for="linkedEmployee">Linked Employee</label>
        </div>
        <div data-container-for="Employee" class="k-edit-field">
            <input id="linkedEmployee" name="Employee" data-bind="value:Employee" data-value-field="DisplayName"
                   data-text-field="DisplayName" data-source="usersSettings.employees" data-role="dropdownlist" />
        </div>
        <br /><br />
    </div>
</script>